body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: 400px;
    width: 800px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    

}

.box1{
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
  
}
.box2{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
.box3{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.box4{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}
.child-box1{
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
}

.child-box2{
    height: 50px;
    width: 200px; 
    background-color:cornflowerblue;
}

.child-box3{
    height: 50px;
    width: 200px; 
    background-color:tomato;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}