
.parent{
  max-width: 1200px;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top, .bottom{
    background-color: lightgreen;
    width: 90%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
align-items: center;
color: white;
}

.middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: palevioletred;
    width: 90%;
   
}

h1{
    color: white;
}

.images{
    display: flex;
    flex-direction: column;
}

.images .img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.top-images, .bottom-images{
  height: 100px;
  max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.img{
    background-color: blanchedalmond;
    margin: 5px;
    height: 50px;
    width: 120px;

}