body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.wrapper{
    height:600px;
    width: 600px;
    background-color: black;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    color: white;
  
}

.number{
    height: 190px;
    width: 190px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number:nth-child(2){
    background-color:purple ;
}

.number:nth-child(3){
    background-color:blueviolet;
}
.number:nth-child(4){
    background-color:cornflowerblue ;
}
.number:nth-child(5){
    background-color:lightblue ;
}
.number:nth-child(6){
    background-color: lightseagreen;
}
.number:nth-child(7){
    background-color: lightgreen;
}
.number:nth-child(8){
    background-color:yellowgreen ;
}
.number:nth-child(9){
    background-color:orange ;
}
.number:nth-child(10){
    background-color: red;
}